:root {
    --size: 1.3;
    --color:#62ff62;
}
body{
  
}


.terminal{
    height: 100%!important;
    color:#62ff62 !important;
    text-shadow: 1px 1px 10px rgb(0 255 0);
}
.neonText {
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
  
  h1 {
    font-size: 4.2rem;    
  }
.cmd{
    color:green !important;
}
#ControlPannel{
  padding: 2%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  z-index: 999;
}
.btn-success{
  color: black;
  background-color: var(--color);
  transform: 2s ease-in-out;
}
.btn-success:hover{
  background-color: var(--color);
  -webkit-transition:  0.3s ease-in-out;
  border: none;
  box-shadow: 0px 0px 20px 9px #62ff62;
  transform: scale(1.005); /* Equal to scaleX(2) scaleY(0.5) */
}
.btn-danger{
  color: black;
  background-color: red;
  transform: 0.3s ease-in-out;
}
.btn-danger:hover{
  background-color: red;
  -webkit-transition:  0.3s ease-in-out;
  border: none;
  box-shadow: 0px 0px 20px 9px red;
  transform: scale(1.005); /* Equal to scaleX(2) scaleY(0.5) */
}
.btn{
  margin : 0.5rem;
}
@keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
        0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
    }to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
          0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
      }
    }